{% extends './layout/base.html.twig' %}
{% extends './layout/overview_layout.html.twig' %}

{% block title %}Edit Spaces{% endblock %}

{% block body %}
    <h1>Modifier le Post</h1>

    {{ form_start(form, {'attr': {'id': 'edit-form-' ~ post.id, 'data-cancel-url': path('post_list')}}) }}
    {{ form_widget(form.content, {'attr': {'id': 'quill-editor', 'class': 'quill-editor'}}) }}
    <button type="submit" style="display:none;">Enregistrer</button>
    {{ form_end(form) }}

    <button id="cancel-btn">Annuler</button>
{% endblock %}
