{% extends 'layout/base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <h1>Mentions Légales</h1>

    <h2>Éditeur du site</h2>
    <p>
        Nom de la société : [Nom de votre société]<br>
        Adresse : [Adresse de votre société]<br>
        Email : [Email de contact]<br>
        Numéro de téléphone : [Numéro de téléphone]
    </p>

    <h2>Hébergement</h2>
    <p>
        Nom de l’hébergeur : [Nom de votre hébergeur]<br>
        Adresse : [Adresse de l’hébergeur]<br>
        Numéro de téléphone : [Numéro de téléphone de l’hébergeur]
    </p>

    <h2>Responsabilité</h2>
    <p>
        L'éditeur du site s'efforce de fournir des informations fiables et à jour, mais ne peut garantir leur exactitude et leur exhaustivité.
    </p>

    <h2>Propriété intellectuelle</h2>
    <p>
        Le contenu de ce site est protégé par le droit de la propriété intellectuelle. Toute reproduction totale ou partielle du contenu du site sans autorisation est interdite.
    </p>

    <h2>Politique de confidentialité</h2>
    <p>
        Les données collectées sur ce site sont traitées conformément à notre <a href="#">Politique de confidentialité</a>. Vous avez le droit d'accès, de modification et de suppression de vos données personnelles en envoyant un email à [Email de contact].
    </p>

    <h2>Utilisation des cookies</h2>
    <p>
        Notre site utilise des cookies pour améliorer l'expérience utilisateur. Vous pouvez gérer vos préférences dans l'<a href="#">Espace de Préférences des Cookies</a>.
    </p>
{% endblock %}
