{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Overview Page{% endblock %}

{% block body %}
    <main>
        {% block overview_content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
            <!-- Contenu spécifique du pied de page pour Overview -->
            <p>Copyright © {{ 'now'|date('Y') }} Your Company - Overview Section.</p>
        {% endblock %}
    </footer>
{% endblock %}
