body, html {
    margin: 0;
    padding: 0;
}

#container-overview {
    background-color: #cfcfcf;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "aa bb"
    "cc dd"
    "cc dd";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 5% 1fr;
}

.logo-container {
    grid-area: aa;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    border-color: #c6c6c6;
}

.logo-container img {
    width: 35px;
    height: 35px;
}

.logo-container > h2 {
    margin-left: 5px;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.content-header {
    grid-area: bb;
    background-color: white;
    padding: 5px;
    margin-bottom: 1px;
    border-color: #c6c6c6;
}

.content-menu {
    grid-area: cc;
    background-color: white;
    padding: 5px;
    margin-right: 1px;
    border-color: #c6c6c6;
}

.content-main {
    grid-area: dd;
    background-color: white;
    padding: 5px;
}

.container-form-login {
    display: flex;
    align-self: center;
}