:root {
    /*--light-grey: #cfcfcf;*/
    --light-grey: #cfcfcf;
    --cadetblue: #2b5d5f;
    --bg-color: white;
    --link-accent-color: #109a10;

    --dark-mode-background-primary: #121212;
    --dark-mode-background-secondary: #1E1E1E;

    --dark-mode-text-primary: #FFFFFF;
    --dark-mode-text-secondary: #B3B3B3;

    --dark-mode-accent-primary: #BB86FC;
    --dark-mode-accent-secondary: #03DAC6;

    --dark-mode-border-primary: #333333;
    --dark-mode-border-secondary: #444444;

    --dark-mode-error-primary: #CF6679;
}

*, p, h2, h4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: large;
}

body, html {
    font-family: "Sen", sans-serif;
    width: 100vw;
    height: 100vh;
}

a {
    font-weight: 650;
    transition: all 400ms ease-in-out;
    text-decoration: none;
    text-underline-color: var(--light-grey) !important;
    text-underline-offset: 4px;
}

a:hover {
    text-decoration: underline !important;
    text-underline-color: var(--cadetblue);
}

a:visited {
    color: black;
}

small {
    color: #999999;
}

.title {
    font-size: large;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

button.btn[disabled],
button.btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: #f3f3f3 !important; /* Force une nouvelle couleur de background */
    color: #999 !important; /* Force une nouvelle couleur de texte */
    border-color: #ddd !important;
}

/****************** flash message *************/

/* Positionnement du conteneur des messages flash */
#flash-messages {
    position: fixed; /* Positionnement fixe par rapport à la fenêtre */
    top: 20px; /* Distance depuis le haut de la fenêtre */
    left: 50%; /* Centrage horizontal */
    transform: translateX(-40%); /* Correction du centrage */
    z-index: 9000; /* Pour que les messages soient au-dessus des autres éléments */
    width: 80%; /* Largeur du conteneur (ajustable) */
    max-width: 800px; /* Largeur maximale */

}

/* Styles pour chaque message flash */
.flash-message {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    opacity: 0.9;
    color: #fff; /* Couleur du texte en blanc pour le contraste */
}

.text-flash {
    margin-bottom: 0;
    padding: 0;
}

/* Couleurs pour les différents types de messages */
.flash-success {
    background-color: #b2e5ba;
    color: #155724;
}

.flash-error,
.flash-danger {
    background-color: #f8b5b3;
    color: #721c24;
}

.flash-warning {
    background-color: #fff5ba;
    color: #856404;
}

.flash-info {
    background-color: #b3e5f8;
    color: #0c5460;
}

/* Styles pour le bouton de fermeture */
.close-bttn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
}

.close-bttn:hover {
    opacity: 1;
}


/* Animation pour l'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

/* Animation pour la disparition */
@keyframes fadeOut {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0;
    }
}

/* Appliquer les animations aux messages */
.flash-message {
    animation: fadeIn 0.5s;
}

/* Classe pour déclencher la disparition */
.fade-out {
    animation: fadeOut 0.5s forwards;
}


/***************** overview-page *****************/

#container-overview {
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "jj"
    "cc";
    grid-template-rows: auto 1fr;
    overflow: hidden;
    position: absolute;
}

#header-container {
    display: grid;
    grid-area: jj;
    grid-template-areas: "logo bar";
    grid-template-columns: 300px 1fr;
    padding-top: 5px;

    width: 100%;

    background-color: var(--bg-color);
    /*border-bottom: solid 1px var(--light-grey);*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#container-main {
    width: 100%;
    height: fit-content;
    display: grid;

    grid-template-areas: "men main";
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    grid-area: cc;
    background-color: var(--bg-color);
}

.logo_class {
    margin-bottom: 10px;
}

.logo-container {
    grid-area: logo;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    border-color: var(--light-grey);
    overflow: hidden;
}

.logo-container img {
    width: 35px;
    height: 35px;
}

.logo-container > h2 {
    margin-left: 5px;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.preferenceBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

#cookie-settings-menu svg {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    color: var(--cadetblue);
}

.preferenceBtn:hover > svg {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.content-header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    padding: 5px 50px 5px 5px;
    margin-bottom: 1px;
    border-color: var(--light-grey);
    grid-area: bar;
}

.notification-icon {
    position: relative;
}

.icon-bell {
    width: 30px;
    height: 30px;
}

.notification-badge {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.profil-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

.profil-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.content-header * {
    margin-left: 15px;
    text-decoration: none;
}

.spaces-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: max-content;
    margin: auto;
}

.spaces-list .title {
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;

}

.content-menu {
    background-color: #ffffff;
    border-color: var(--light-grey);
    padding: 0 15px 0 15px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-top: 60px;

    grid-area: men;
}

.content-main {
    background-color: #ffffff;
    padding: 30px 0 0 0;
    grid-area: main;
    width: 100%;

    height: 100vh;
    bottom: 0;
    overflow-y: auto;
    border: 2px solid rgba(128, 128, 128, 0.10);
    border-top-left-radius: 20px;
    max-height: calc(100vh - 65px);
    margin-top: 65px;

}

.content-main p {
    margin: 0;
    border-left: 1px solid var(--light-grey);
}

.container-form-login {
    display: flex;
    align-self: center;
    margin-top: 30px !important;
    position: relative;
    z-index: 1;
}




/********************** card *******************************/

.card-grid {
    display: flex;
    gap: 50px;
    width: calc(min-content - max-content);
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    align-content: center;
}

.card_style {
    width: 250px;
    height: 350px;
    overflow: hidden;

    border: 1px solid var(--light-grey);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    display: grid;
    grid-template-areas:
    "cardimg"
    "cardcontent";
    grid-template-rows: 60% 40%;

    transition: all 0.2s ease-in;
}

.card_style:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.card_img {
    background-color: #6E6E6E;
    grid-area: cardimg;
    width: 100%;
}

.card_style .card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_content {
    background-color: white;
    grid-area: cardcontent;
    width: 100%;
    padding: 5px;
    text-overflow: ellipsis;
    font-size: small;
}

.card_content h2 {
    font-size: medium;
}

/************************ menu-list *********************/
.content-menu ul {
    padding: 0;
    margin-top: 20px;
}

.container_list {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    width: 100%;
    height: 60px;
    font-weight: bold;
    background-color: white;
    color: #7e7e7e;
    text-transform: capitalize;
    outline: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: outline 0.2s ease-in, color 0.3s ease-in;

    display: flex;
    align-items: center;
}

.container_list:hover {
    color: Black;
    background-color: var(--bg-color);
    outline: 1px solid var(--light-grey);
}

.list_style {
    list-style: none;
    margin-left: 15px;
    font-size: larger;
    text-decoration: none !important;
}

.list_style a {
    text-decoration: none !important;
}

.list_style:hover a {
    color: white;
}

.list_style a:visited {
    color: transparent;
}

/********************** login-page *********************/

.logo-container-login-page {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.logo-container-login-page h2 {
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.logo-container-login-page img {
    width: 120px;
    height: 120px;
}

.container-form-login {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logout {
    color: var(--dark-mode-error-primary);
}

.container-form-login > form {
    border-radius: 25px;
    padding: 50px 50px 80px 50px;
    width: max-content;
    box-sizing: border-box;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'><defs><linearGradient gradientTransform='rotate(-34, 0.5, 0.5)' x1='50%' y1='0%' x2='50%' y2='100%' id='gggrain-gradient2'><stop stop-color='%232b5d5f' stop-opacity='1' offset='-0%'></stop><stop stop-color='rgba(255,255,255,0)' stop-opacity='0' offset='100%'></stop></linearGradient><linearGradient gradientTransform='rotate(34, 0.5, 0.5)' x1='50%' y1='0%' x2='50%' y2='100%' id='gggrain-gradient3'><stop stop-color='%23cfcfcf' stop-opacity='1'></stop><stop stop-color='rgba(255,255,255,0)' stop-opacity='0' offset='100%'></stop></linearGradient><filter id='gggrain-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feTurbulence type='fractalNoise' baseFrequency='0.67' numOctaves='2' seed='2' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence'></feTurbulence><feColorMatrix type='saturate' values='0' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='colormatrix'></feColorMatrix><feComponentTransfer x='0%' y='0%' width='100%' height='100%' in='colormatrix' result='componentTransfer'><feFuncR type='linear' slope='3'></feFuncR><feFuncG type='linear' slope='3'></feFuncG><feFuncB type='linear' slope='3'></feFuncB></feComponentTransfer><feColorMatrix x='0%' y='0%' width='100%' height='100%' in='componentTransfer' result='colormatrix2' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -11'></feColorMatrix></filter></defs><g><rect width='100%' height='100%' fill='%232b5d5f'></rect><rect width='100%' height='100%' fill='url(%23gggrain-gradient3)'></rect><rect width='100%' height='100%' fill='url(%23gggrain-gradient2)'></rect><rect width='100%' height='100%' fill='transparent' filter='url(%23gggrain-filter)' opacity='0.78' style='mix-blend-mode: overlay'></rect></g></svg>")
    no-repeat center center / cover;
    color: white;
}

.container-form-login > form > h1 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
}

/* Appliquer à tous les éléments input de type text, email et password, ainsi qu'au bouton */
input[type="email"],
input[type="password"],
input[type="checkbox"],
button[type="submit"],
input[type="search"] {
    background-color: white;
    border: 1px solid var(--light-grey); /* Bordure grise */
    padding: 0.5rem; /* Espacement intérieur */
    margin-bottom: 0.5rem; /* Espacement extérieur en bas */
    margin-left: auto;
    margin-right: auto;
    display: block; /* Faire en sorte que les éléments prennent toute la largeur disponible */
    width: 100%; /* Assurer une largeur complète */
    box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
    border-radius: 5px;
}

/* Style pour la couleur d'arrière-plan des champs remplis automatiquement */
input[type="email"]:-webkit-autofill,
input[type="search"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
input[type="email"]:-webkit-autofill:hover,
input[type="search"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:focus,
input[type="search"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus {
    border: 1px solid var(--light-grey); /* Couleur de bordure personnalisée pour l'autofill */
    -webkit-text-fill-color: #000; /* Couleur de texte pour l'autofill */
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* Arrière-plan blanc pour l'autofill */
    box-shadow: 0 0 0px 1000px white inset; /* Arrière-plan blanc pour l'autofill */
    transition: background-color 5000s ease-in-out 0s; /* Transition pour éviter le changement de couleur instantané */
}

.checkbox {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    align-items: center; /* Centrer verticalement les éléments à l'intérieur */
    justify-self: center;
    justify-content: center;
}

.checkbox > label:last-child {
    width: max-content;
    margin: 0;
}

.checkbox label {
    margin-left: 0.5rem;
}

button[type="submit"] {
    background-color: var(--cadetblue);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.checkbox {
    margin-bottom: 1rem;
}

.checkbox label {
    display: block;
    cursor: pointer;
}

input[type="hidden"] {
    display: none;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

/******************* spaces **************************/

#space_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 4vh;

    overflow-y: auto;
    overflow-x: hidden;
}

.search_bar_container {
    margin: auto;
    width: 12vw;
    transition: all 0.3s ease;
}

.search_bar_container:focus-within {
    width: 30vw;
}

.search_bar_container > label {
    visibility: hidden;
}

#mysearch {
    pointer-events: auto;
    z-index: 20;
}


#mysearch:focus {
    outline: none;
    border: 2px solid var(--cadetblue) !important;
}

#editor-container {
    width: 100%;
}

#editor {
    transition: height 0.3s ease;
    resize: none;
}

.ql-container {
    overflow-y: hidden;
}

.ql-toolbar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: opacity 0.3s ease-in-out;
}

.ql-blank, .ql-editor {
    height: 150px;
    transition: all 0.3s ease;
    background-color: white;
}

.ql-editor p,
.ql-editor div,
.ql-editor span {
    border-left: none !important;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ql-editor .ql-blank::before {
    border-left: none !important;
    content: none !important;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-doc-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 44px;
    width: 44px;
    outline: var(--light-grey) solid 1px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: outline-color 0.3s ease;
}

.add-doc-btn:hover {
    outline-color: black;
}

.file-list > * {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
}

.file-list {
    content: none;
    padding: 0;
    transition: all 0.3s ease;
}

.file-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.file-list li .file-icon {
    margin-right: 8px;
}

.file-list li .file-name {
    flex: 1;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
}

.remove-file-btn {
    cursor: pointer;
    color: #ed6c30;
    font-size: 16px;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;
}

.file-name {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

#compose_box {
    padding: 10px 10px 0 10px;
    width: 50vw;
    height: max-content;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fafafa;
    transition: height 0.2s ease;
}

#compose_box .profile-container {
    margin: 0 0 10px 4px;
    width: fit-content;
    height: min-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-container img {
    margin-right: 10px;
}

.form-comment {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.container-post {
    display: grid;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    grid-template-columns: 1fr;
}

.btn-back {
    margin-left: 20px;
}

.post_box {
    width: 50vw;
    height: fit-content;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: relative;

}

.post-text {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 30px 0 30px 0;
    word-wrap: break-word;

}

.post-text p {
    border-left: none !important;
    text-overflow: ellipsis;
    max-height: 100px;
}

.post-text-show {
    word-wrap: break-word;
    min-height: 50px;
    margin-bottom: 10px;
}

.post-text-show p {
    border-left: none !important;
}

.hidden-label {
    display: none;
}


.post-text.expanded {
    max-height: none !important; /* Supprime la limitation de hauteur */
}

.post-more-bloc a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.post-more-bloc a .arrow-right {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.post-more-bloc {
    display: flex;
    align-items: center;
    justify-content: start;
}

.read-more-btn {
    background-color: transparent;
    color: black;
    border: 1px solid var(--cadetblue);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.5s ease;
}

.read-more-btn:hover {
    background-color: var(--cadetblue);
    color: white;
}

.post-actions {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    gap: 2px;
}

.edit-btn, .delete-btn {
    width: 40px; /* Ajustez selon la taille de votre bouton */
    height: 40px; /* Ajustez selon la taille de votre bouton */
    background-color: transparent;
    color: white;
    border: none; /* Supprime le border pour éviter tout mouvement */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-sizing: border-box;
    padding: 5px; /* Ajustez le padding si nécessaire */
    display: inline-flex; /* Centre l'image à l'intérieur */
    align-items: center;
    justify-content: center;
}

.edit-btn > img, .delete-btn > img {
    width: 25px !important;
    height: 25px !important;
}

.edit-btn {
    background-color: transparent;
    margin: 0 5px 0 0 !important;
}

.delete-btn {
    background-color: transparent !important;
}

.delete-btn:hover, .edit-btn:hover {
    /* Utilise l'outline au lieu du border */
    /* Pour delete-btn */
    outline: red solid 1px;
}

.edit-btn:hover {
    outline-color: #0056b3; /* Pour edit-btn */
}


.edit-form-btn {
    height: min-content;
    margin-top: 4px;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    gap: 10px;
}

.save-btn, .cancel-btn {
    background-color: #007BFF;
    width: fit-content !important;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px !important;
    cursor: pointer;
    margin: 0 !important;
    /*margin-right: auto !important;*/
}

.save-btn {
    margin-top: 5px;
    background-color: #28a745; /* Green color for save button */
}

.cancel-btn {
    background-color: #dc3545; /* Red color for cancel button */
}

.edit-btn:disabled, .delete-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.post-file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: start;
    padding: 10px;
}

.post-file-list .post-file:nth-child(2n) {
    animation: keyframes1 0.8s infinite ease-in-out;
    transform-origin: 50% 10%;
}

.post-file-list .post-file:nth-child(2n-1) {
    animation: keyframes2 0.8s infinite ease-in-out alternate;
    transform-origin: 30% 5%;
}

.delete-doc-form {

    position: absolute;
    top: -10px;
    right: -10px;
}

.delete-doc-btn {
    all: unset !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-doc-btn * {
    color: red;
}

.post-file {
    position: relative;
    width: 110px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-grey);
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 14px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

@keyframes keyframes1 {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1.5deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@keyframes keyframes2 {
    0% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1.5deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

.post-file:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post-file .ux-icon {
    font-size: 24px;
    margin-bottom: 8px;
    color: #007bff;
}

.file-label {
    font-size: 12px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90px;
    display: block;
}

.available-doc-nb {
    color: rgba(0, 0, 0, 0.66);
    font-size: 0.9em;
}

.foot-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left-info {
    display: flex;
    gap: 10px;
}

.details-link {
    margin-left: auto;
    color: var(--link-accent-color);
}

.details-link:visited {
    color: var(--cadetblue);
}


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.container-profil-post {
    display: flex;
    align-items: center;
}

.img-profil-post {
    margin-right: 5px;
}

.post-actions {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.post-actions img {
    width: 20px;
}

#post-comment {
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    width: 45vw;
    height: fit-content;
}

.comments {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    display: none;
}

.comment {
    width: inherit;
    margin-left: 5px;
    word-break: break-word;
}

.comment p {
    width: calc(100% - 42px);
    height: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
    margin-left: 42px;
    text-overflow: ellipsis;
    border-left: none !important;
    flex-grow: 1;
    overflow-wrap: break-word;
    padding-right: 15px;
    box-sizing: border-box;
    word-break: break-word;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.img-profil-comment {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-meta {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.comment-meta h5 {
    margin: 0 0 4px;
    font-size: 1em;
}

.comment-meta small {
    color: gray;
    font-size: 0.8em;
    text-align: start;
    margin-left: 8px;
}

.comment-section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    width: 45vw;
}

.toggle-comments-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    width: max-content;
    text-align: left;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

.comment-input {
    flex-grow: 1;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid cadetblue;
    resize: none;
    overflow: hidden;
    transition: border-color 0.3s;
    font-size: 1.1rem;
    line-height: 1.4;
    min-height: max-content;
    height: 30px;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

.comment-input::placeholder {
    color: #999;
}

.comments-title {
    font-size: 1.4em;
    color: var(--cadetblue);
    margin: 8px 0 8px 0;
}

.comment-author, .post-author {
    font-weight: 500;
    font-size: 1.1em;
    text-transform: capitalize;
}

.comment-input:focus {
    border-bottom-color: #007BFF;
    outline: none;
}

.icon-send {
    width: 20px;
}

.icon-send-btn {
    width: max-content !important;
    background-color: transparent !important;
    align-self: flex-end;
}

#comment-section {
    border-bottom: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggle-comments-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#comment-section .toggle-comments-btn {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-family: "Sen", sans-serif;
    cursor: pointer;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

.icon-send:hover {
    animation: move 1s infinite;
}

#submit-button {
    width: max-content;
    justify-self: end;
    align-self: self-start;
}

/******************** user ****************************/

/* Conteneur global pour la page utilisateur */
.page-profil-container {
    padding: 20px;
    background-color: var(--bg-color);
    color: #333;
    border-radius: 10px;
    outline: 1px solid var(--light-grey);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-family: "Sen", sans-serif;
    transition: all 0.3s ease-in-out;
}

.page-profil-container h1 {
    color: var(--cadetblue);
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.page-profil-container table {
    width: 100%;
    border-collapse: collapse; /* Supprime les doubles bordures entre les cellules */
}

.page-profil-container table th,
.page-profil-container table td {
    padding: 10px 15px;
    border-bottom: 1px solid var(--light-grey);
    text-align: left;
    font-size: 1em;
    font-weight: normal;
}

.page-profil-container table th {
    background-color: var(--bg-color);
    color: #333;
    font-weight: bold;
}

.page-profil-container table a {
    color: var(--link-accent-color);
    text-decoration: underline;
    font-weight: 600;
}

.page-profil-container table a:hover {
    color: var(--cadetblue);
}

/* Avatar (centré et rond avec hover unique) */
.profil-avatar {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.profil-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.profil-avatar:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'icône dans l'avatar */
    display: none; /* N'affiche pas l'icône tant qu'il n'y a pas de hover */
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
    border-radius: 50%; /* Cercle autour de l'icône */
    width: 48px; /* Dimension du conteneur de l'icône */
    height: 48px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Légère ombre */
}

/* Affiche l'icône au survol */
.profil-avatar:hover .edit-icon {
    display: flex; /* Utilise flexbox pour centrer automatiquement le contenu */
}

.edit-icon svg {
    width: 24px; /* Taille de l'icône */
    height: 24px;
    color: var(--cadetblue); /* Couleur de base */
    transition: color 0.3s ease-in-out; /* Passe à une autre couleur au hover */
}

.edit-icon:hover svg {
    color: black; /* Couleur alternative au hover de l'icône */
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn-container a {
    padding: 10px 15px;
    border: 1px solid var(--cadetblue);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cadetblue);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-container a:hover {
    background-color: var(--cadetblue);
    color: #fff;
    text-decoration: none;
}

.btn-delete-profil {
    color: red;
    border: none;
    cursor: pointer;
    font-weight: semi-bold;
}

/******************** chat ****************************/

#chat-icon-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

#chat-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: shake-pause 1.1s infinite;
}

#notification-badge {
    position: absolute;
    top: -1px;
    right: 5px;
    background: rgb(255, 0, 0);
    background: linear-gradient(120deg, rgba(255, 166, 166, 1) 0%, rgba(255, 0, 0, 1) 100%);
    -webkit-box-shadow: 3px 3px 10px 0.5px #d5d5d5;
    -moz-box-shadow: 3px 3px 10px 0.5px #d5d5d5;
    box-shadow: 3px 3px 10px 0.5px #d5d5d5;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 1001;
}


@keyframes shake {
    0%, 100% {
        transform: translateX(0);
        filter: blur(0);
    }
    25% {
        transform: translateX(-3px) scale(1.05);
        filter: blur(0);
    }
    50% {
        transform: translateX(3px) scale(1.05);
        filter: blur(1px);
    }
    75% {
        transform: translateX(-3px) scale(1.05);
        filter: blur(1px);
    }
}

@keyframes shake-pause {
    0%, 50%, 100% {
        transform: translateX(0);
        filter: blur(0);
    }
    25% {
        transform: translateX(-3px) scale(1.05);
        filter: blur(0);
    }
    30% {
        transform: translateX(3px) scale(1.05);
        filter: blur(1px);
    }
    35% {
        transform: translateX(-3px) scale(1.05);
        filter: blur(1px);
    }
    40% {
        transform: translateX(3px) scale(1.05);
        filter: blur(1px);
    }
    45% {
        transform: translateX(-3px) scale(1.05);
        filter: blur(1px);
    }
}

/******************* pagination *********************/

.navigation {
    text-align: center;
}

.navigation .pagination {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 50px;
    border-radius: 4px;
    font-size: 1rem;
}

.navigation .pagination li {
    display: inline;
}

.navigation .pagination li a,
.navigation .pagination li span {
    position: relative;
    display: block;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}

.navigation .pagination li a:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination a {
    border: 1px solid var(--light-grey);
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: var(--light-grey);
    color: black;
}


.pagination .active a {
    background-color: white;
    color: white;
    border-color: white;
}

.current {
    margin-right: 7px;
    font-size: larger;
    font-weight: bolder;
    color: var(--cadetblue);
}


@media all and (max-device-width: 900px) {

    body, html {
        height: 100svh;
    }

    #flash-messages {
        width: 90%;
    }

    .logo-container-login-page {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        flex-direction: column;
    }

    .logo-container-login-page h2 {
        font-size: 5em;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }

    .logo-container-login-page img {
        width: 200px;
        height: 200px;
    }

    .logo-login {
        background-color: white;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .logo-login > img {
        width: 50px;
        height: 50px;
    }

    .container-form-login {
        display: flex;
        width: 100%;
        height: max-content;
        font-size: 4em;
    }

    .container-form-login > form {
        display: flex;
        width: 100%;
        height: 100%;
        border: none;
    }

    .container-form-login > form > h1 {
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        font-style: normal;
        text-transform: capitalize;
        font-size: 2em;
    }

    input[type="email"],
    input[type="password"],
    input[type="checkbox"],
    button[type="submit"] {
        background-color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    button[type="submit"] {
        background-color: var(--cadetblue);
        color: black;
        border-radius: 10px;
    }

    input[type="email"],
    input[type="password"],
    button[type="submit"] {
        height: 100px;
        font-size: 3rem;
    }

}
