:root {
    --light-grey: #cfcfcf;
    --cadetblue: cadetblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    /*width: 100vw;*/
    font-family: "Sen", sans-serif;
    /*font-optical-sizing: auto;*/
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

small {
    color: #999999;
}

/***************** overview-page *****************/

#container-overview {
    background-color: var(--light-grey);
    width: 100%;
    height: 100lvh;
    display: grid;
    grid-template-areas:
    "jj"
    "cc";
    grid-template-rows: auto 1fr;
    overflow: hidden;
    position: absolute;
}

#header-container {
    display: grid;
    grid-area: jj;
    grid-template-areas: "logo bar";
    grid-template-columns: 20% 1fr;

    width: 100%;

    background-color: #ffffff;
    border-bottom: solid 1px var(--light-grey);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#container-main {
    width: 100%;
    height: fit-content;
    display: grid;

    grid-template-areas: "men main";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-area: cc;
    background-color: var(--light-grey);
}

.logo-container {
    grid-area: logo;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    border-color: var(--light-grey);
    overflow: hidden;
}

.logo-container img {
    width: 35px;
    height: 35px;
}

.logo-container > h2 {
    margin-left: 5px;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.content-header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-bottom: 1px;
    border-color: var(--light-grey);
    margin-right: 50px;
    grid-area: bar;
}

.profil-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 5px;
    transition: all 0.3s ease-in;
}

.content-header * {
    margin-left: 15px;
    text-decoration: none;
}

.content-header a img:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.content-menu {
    background-color: #ffffff;
    border-color: var(--light-grey);
    padding: 30px 0 0 30px;
    width: 20svw;

    grid-area: men;

    position: fixed;
    top: 60px; /* Ajustez cette valeur pour correspondre à la hauteur du header */
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.content-main {
    background-color: #ffffff;
    padding: 30px 0 0 30px;
    grid-area: main;

    position: fixed;
    height: calc(100vh - 5vh);
    left: 20vw; /* Commence là où le menu se termine */
    bottom: 0;
    right: 0; /* Prend tout l'espace restant */
    overflow-y: auto;
}

.content-main p {
    margin: 0;
    border-left: 1px solid var(--light-grey);
}

.container-form-login {
    display: flex;
    align-self: center;
}

/********************** card *******************************/

.card-grid {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card_style {
    width: 300px;
    height: 400px;
    overflow: hidden;

    border: 1px solid var(--light-grey);
    border-radius: 10px;

    display: grid;
    grid-template-areas:
    "cardimg"
    "cardcontent";
    grid-template-rows: 60% 40%;

    transition: all 0.3s ease-in;
}

.card_style:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.card_img {
    background-color: #6E6E6E;
    grid-area: cardimg;
    width: 100%;
}

.card_style .card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_content {
    background-color: white;
    grid-area: cardcontent;
    width: 100%;
    padding: 5px;
    text-overflow: ellipsis;
}

/************************ menu-list *********************/

.content-menu {
    padding: 0 20px 0 15px;
    border-right: 1px solid var(--light-grey);
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.content-menu ul {
    padding: 0;
    margin-top: 20px;
}



.container_list {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
    width: 100%;
    height: 60px;
    font-weight: bold;
    background-color: white;
    color: #7e7e7e;
    text-transform: capitalize;


    cursor: pointer;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;

    display: flex;
    align-items: center;
}

.container_list:hover {
    background-color: var(--cadetblue);
    color: white;
}

.list_style {
    list-style: none;
    margin-left: 15px;

    font-size: larger;
}

.list_style a {
    text-decoration: none;
}

.list_style:hover a {
    color: white;
}

.list_style a:visited {
    color: transparent;
}
/********************** login-page *********************/

.logo-container-login-page {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.logo-container-login-page h2 {
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.logo-container-login-page img {
    width: 180px;
    height: 180px;
}

.container-form-login {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-login > form {
    border: solid 1px var(--light-grey);
    border-radius: 30px;
    padding: 50px 50px 80px 50px;
    width: max-content;
    /*max-width: 300px; !* Une largeur maximale pour les grands écrans *!*/
    box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
    height: max-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.container-form-login > form > h1 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
}

/* Appliquer à tous les éléments input de type text, email et password, ainsi qu'au bouton */
input[type="email"],
input[type="password"],
input[type="checkbox"],
button[type="submit"] {
    background-color: white;
    border: 1px solid var(--light-grey); /* Bordure grise */
    padding: 0.5rem; /* Espacement intérieur */
    margin-bottom: 0.5rem; /* Espacement extérieur en bas */
    margin-left: auto;
    margin-right: auto;
    display: block; /* Faire en sorte que les éléments prennent toute la largeur disponible */
    width: 100%; /* Assurer une largeur complète */
    box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
    border-radius: 5px;
}

/* Style pour la couleur d'arrière-plan des champs remplis automatiquement */
input[type="email"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
input[type="email"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:focus {
    border: 1px solid var(--light-grey); /* Couleur de bordure personnalisée pour l'autofill */
    -webkit-text-fill-color: #000; /* Couleur de texte pour l'autofill */
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* Arrière-plan blanc pour l'autofill */
    box-shadow: 0 0 0px 1000px white inset; /* Arrière-plan blanc pour l'autofill */
    transition: background-color 5000s ease-in-out 0s; /* Transition pour éviter le changement de couleur instantané */
}

.checkbox {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    align-items: center; /* Centrer verticalement les éléments à l'intérieur */
    justify-self: center;
    justify-content: center;
}

.checkbox > label:last-child {
    width: max-content;
    margin: 0;
}

.checkbox label {
    margin-left: 0.5rem; /* Espacement entre la case à cocher et le texte */
}

/* Styles pour le bouton de soumission */
button[type="submit"] {
    background-color: var(--cadetblue); /* Couleur de fond bleu */
    color: white; /* Texte blanc */
    border: none; /* Aucune bordure pour le bouton */
    padding: 10px 15px; /* Espacement intérieur du bouton */
    cursor: pointer; /* Style du curseur en tant que pointeur */
    transition: background-color 0.3s ease; /* Transition fluide pour le survol */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Couleur de fond plus foncée au survol */
}

/* Styles pour le container de la case à cocher */
.checkbox {
    margin-bottom: 1rem; /* Espacement en bas du container de la case à cocher */
}

/* Styles spécifiques pour le label de la case à cocher pour un alignement correct */
.checkbox label {
    display: block; /* Affichage en bloc */
    cursor: pointer; /* Pointeur au survol */
}

/* Cache l'input hidden pour le token CSRF */
input[type="hidden"] {
    display: none; /* Cache cet élément */
}

/* Styles pour les labels */
label {
    display: block; /* Fait en sorte que le label prenne toute la largeur de son container */
    margin-bottom: 0.25rem; /* Petit espacement en dessous du label */
}

/******************* spaces **************************/

#space_container {
    display: flex; /* Utilise flexbox pour une meilleure gestion des enfants */
    flex-direction: column; /* Organise les enfants en colonne */
    justify-content: flex-start; /* Aligne les enfants en haut du conteneur */
    align-items: center; /* Centre les enfants horizontalement */
    row-gap: 5vh;
    padding-top: 10vh;

    position: fixed;
    height: calc(100vh - 5vh);
    left: 20vw; /* Commence là où le menu se termine */
    bottom: 0;
    right: 0; /* Prend tout l'espace restant */
    overflow-y: auto;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

#editor-container {
    width: 100%;
}

#editor {
    min-height: 150px; /* Hauteur initiale */
}

.ql-blank, .ql-editor {
    height: 150px;
    transition: all 0.3s ease;
    background-color: white;
}

/* suppresion barre grise inconnu dans la zone de texte */
.ql-editor p,
.ql-editor div,
.ql-editor span {
    border-left: none !important; /* Supprime la bordure gauche */
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les paddings */
    width: 100%;
}

/* Cible spécifiquement la barre grise */
.ql-editor .ql-blank::before {
    border-left: none !important; /* Supprime la bordure gauche des éléments vides */
    content: none !important; /* Supprime le contenu des éléments vides */
}

hr {
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    height: 1px;
    background: var(--cadetblue);
    background-image: linear-gradient(to right, #ccc, var(--cadetblue), #ccc);
}

#compose_box {
    padding: 5px;
    width: 55vw;
    height: max-content;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    background-color: #fafafa;
}

#compose_box .profile-container {
    margin: 8px 0 20px 0;
    width: fit-content;
    height: min-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-container img {
    margin-right: 10px;
}

.form-comment {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.container-post {
    display: grid;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

#post_box {
    width: 55vw;
    height: fit-content;
    border: 1px solid var(--light-grey);
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 20px 10px;
    position: relative; /* Pour positionner le bouton à l'intérieur */
    transition: all 0.5s ease-in-out;

}

.post-text {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-in-out;
    margin: 25px 0 25px 0;
}

.post-text p {
    border-left: none !important; /* Supprime la bordure gauche */
}

.hidden-label {
    display: none;
}


.post-text.expanded {
    max-height: none !important; /* Supprime la limitation de hauteur */
}

.read-more-btn {
    background-color: transparent;
    color: black;
    border: 1px solid var(--cadetblue);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.5s ease;
}

.read-more-btn:hover {
    background-color: var(--cadetblue);
    color: white;
}

.post-actions {
    display: flex;
    gap: 5px;
}

.edit-btn, .delete-btn {
    background-color: transparent;
    color: white;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.edit-btn > img, .delete-btn > img {
    width: 25px !important;
}

.edit-btn {
    background-color: transparent; /* Green color for edit button */
    margin: 0 10px 0 0 !important;
}

.delete-btn {
    background-color: transparent !important; /* Red color for delete button */

}

.delete-btn:hover {
    border: 1px solid red !important;
}

.edit-btn:hover {
    border: 1px solid #0056b3 !important;
}

.save-btn, .cancel-btn {
    background-color: #007BFF;
    width: fit-content !important;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px !important;
    cursor: pointer;
    margin-left: 0 !important;
    margin-right: auto !important;
}

.save-btn {
    margin-top: 5px;
    background-color: #28a745; /* Green color for save button */

}

.cancel-btn {
    background-color: #dc3545; /* Red color for cancel button */
}

.edit-btn:disabled, .delete-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.foot-post {
    margin-top: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.container-profil-post {
    display: flex;
    align-items: center;
}

.img-profil-post {
    margin-right: 5px;
}

.post-actions {
    display: flex;
    gap: 5px;
}

.post-actions  img {
    width: 20px;
}

#post-comment {
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    width: 55vw;
    height: fit-content;
}

.comment-input {
    flex-grow: 1;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid cadetblue;
    resize: none; /* Empêche l'utilisateur de redimensionner manuellement le textarea */
    overflow: hidden; /* Cache les débordements */
    transition: border-color 0.3s;
    font-size: 1.1rem;
    line-height: 1;
    height: fit-content;
    min-height: 25px;
    box-sizing: border-box;
}

.comment-input::placeholder {
    color: #999;
}

.comment-input:focus {
    border-bottom-color: #007BFF; /* Change la couleur de la bordure inférieure au focus */
    outline: none; /* Supprime le contour par défaut du navigateur */
}

.icon-send {
    width: 20px;
}

#comment-section {
    border-bottom: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    width: 100%;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#comment-section .toggle-comments-btn {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-family: "Sen", sans-serif;
    cursor: pointer;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Application de l'animation sur hover */
.icon-send:hover {
    animation: move 1s infinite;
}

#submit-button {
    margin: 5px 0 0 auto;
    width: max-content;
    justify-self: end;
}

/******************** chat ****************************/

#chat-icon-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

#chat-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
    animation: shake-pause 1.1s infinite;
}

#notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 1rem;
    z-index: 1001;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); filter: blur(0); }
    25% { transform: translateX(-3px) scale(1.05); filter: blur(0); }
    50% { transform: translateX(3px) scale(1.05); filter: blur(1px); }
    75% { transform: translateX(-3px) scale(1.05); filter: blur(1px); }
}

@keyframes shake-pause {
    0%, 50%, 100% { transform: translateX(0); filter: blur(0); }
    25% { transform: translateX(-3px) scale(1.05); filter: blur(0); }
    30% { transform: translateX(3px) scale(1.05); filter: blur(1px); }
    35% { transform: translateX(-3px) scale(1.05); filter: blur(1px); }
    40% { transform: translateX(3px) scale(1.05); filter: blur(1px); }
    45% { transform: translateX(-3px) scale(1.05); filter: blur(1px); }
}



/******************* pagination *********************/

/* Ajoutez ceci dans votre fichier CSS */
.navigation {
    text-align: center;
}

.navigation .pagination {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 50px;
    border-radius: 4px;
    font-size: 1.4rem;
}

.navigation .pagination li {
    display: inline;
}

.navigation .pagination li a,
.navigation .pagination li span {
    position: relative;
    display: block;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}

.navigation .pagination li a:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

/* Styles pour la pagination */
.pagination a {
    border: 1px solid var(--light-grey); /* Utilisez une variable CSS ou remplacez par une couleur spécifique */
    padding: 8px 12px; /* Ajustez selon les besoins pour le padding */
    border-radius: 4px; /* Rayon des coins arrondis */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    color: black; /* Couleur du texte, ajustez selon vos variables ou préférences */
    margin-right: 5px; /* Espacement entre les liens */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour hover */
}

/* Effet au survol */
.pagination a:hover {
    background-color: var(--light-grey); /* Couleur de fond au survol */
    color: black; /* Couleur de texte au survol */
}

/* Style pour le lien actif de la page courante */
.pagination .active a {
    background-color: white; /* Couleur de fond pour la page active */
    color: white; /* Couleur de texte pour la page active */
    border-color: white; /* Bordure pour la page active */
}

.current {
    margin-right: 7px;
    font-size: larger;
    font-weight: bolder;
    color: var(--cadetblue);
}


@media all and (max-device-width: 900px) {

    body, html {
        height: 100svh;
    }

    .logo-container-login-page {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        flex-direction: column;
    }

    .logo-container-login-page h2 {
        font-size: 5em;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }

    .logo-container-login-page img {
        width: 200px;
        height: 200px;
    }

    .logo-login {
        background-color: white;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .logo-login > img {
        width: 50px;
        height: 50px;
    }

    .container-form-login {
        display: flex;
        width: 100%;
        height: max-content;
        font-size: 4em;
    }

    .container-form-login > form {
        display: flex;
        width: 100%;
        height: 100%;
        border: none;
    }

    .container-form-login > form > h1 {
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        font-style: normal;
        text-transform: capitalize;
        font-size: 2em;
    }

    input[type="email"],
    input[type="password"],
    input[type="checkbox"],
    button[type="submit"] {
        background-color: white;
        /*border: 1px solid #cfcfcf; !* Bordure grise *!*/
        padding: 0.5rem; /* Espacement intérieur */
        margin-bottom: 0.5rem; /* Espacement extérieur en bas */
        margin-left: auto;
        margin-right: auto;
        display: block; /* Faire en sorte que les éléments prennent toute la largeur disponible */
        width: 100%; /* Assurer une largeur complète */
        height: 50px;
        box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
        border-radius: 5px;
    }

    button[type="submit"] {
        background-color: var(--cadetblue);
        color: black;
        border-radius: 10px;
    }

    input[type="email"],
    input[type="password"],
    button[type="submit"] {
        height: 100px;
        font-size: 3rem;
    }

}
