<div id="chat-icon-container">
    <img src="{{ asset('build/images/chat.65a31109.png') }}" alt="Chat Icon" id="chat-icon">
    <div id="notification-badge">3</div> <!-- Nombre de notifications -->
</div>