<div id="flash-messages">
        {% for label, messages in app.flashes %}
                <div class="flash-message flash-{{ label }}">
                        <close-flash-message></close-flash-message>
                        {% for message in messages %}
                                <p class="text-flash">{{ message }}</p>
                        {% endfor %}
                </div>
        {% endfor %}
</div>