{# components/logo.html.twig #}

<div class="{{ logo_class }}">
<a href="{{ path('app_overview') }}">
    {% block logo %}

        <div>
            <img src="{{ asset('build/images/logo.f697d48c.png') }}" alt="logo">
        </div>
        
    {% endblock %}
    <h2 class="logo_title">{{ logo_title }}</h2>
</a>
</div>