{# components/logo.html.twig #}

<div class="{{ logo_class }}">
    {% block logo %}
        <a href="{{ path('app_overview') }}">
            <img src="{{ asset('build/images/logo.f697d48c.png') }}" alt="logo">
        </a>
    {% endblock %}
    <h2>{{ logo_title }}</h2>
</div>