{# components/logo.html.twig #}

<div class="{{ logo_class }}">
<a href="{{ path('app_overview') }}">
    {% block logo %}

        <div>
            <img class="logo_header" src="{{ asset('build/images/formasphere_icon_text_row.6faaa8d9.png') }}" alt="logo">
        </div>
        
    {% endblock %}
</a>
</div>