{# component/menu.html.twig #}
<ul>
    {% for route in rou %}
        <a href="{{ route.url }}">
            <div class=" {{ container_list }}">
                <li class="{{ list_style }}">
                    {{ route.title }}
                </li>
            </div>
        </a>
    {% endfor %}
</ul>
