<div class="search_bar_container">
    <label for="mysearch">Recherche :</label>
    <input id="mysearch" type="search" placeholder="Rechercher un poste">
    <button class="search_button" type="submit">{{ ux_icon('subway:search') }}</button>
</div>